# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#State File
*.state

#ROM files
*.gb
build/
bin/

#Log files
*.ppm
*.svg

#PPM Output
tiles/

#Asm files
*.s
core
callgrind*

src/boot_image.c
src/rom_image.c

data/roms/*.gb
